.container {
  width: min(350px, 35%);
  padding: 12px;
  text-align: justify;
  text-justify: inter-word;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 2px 3px 10px 0px #ccc;
}
.container h2 {
  padding-left: 10px;
}
.lists {
  display: flex;
  justify-content: space-around;
}
.container > .lists > div {
  padding: 10px;
  max-width: 200px;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
svg {
  margin-right: 8px;
}
