#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.skills-experience {
  margin-top: 3vh;
  display: flex;
  justify-content: space-between;
}
.icon {
  vertical-align: middle;
  color: #2f69b5ee;
  width: 25px;
  height: 20px;
  margin-bottom: 4px;
}
